* {
    margin:0;
}

.gridWrapper {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
        "he he he he he"
        "na na na na as"
        "a1 a1 a1 a1 as"
        "a2 a2 a3 a3 as"
        "a4 a5 se a6 as"
        "a7 a7 a7 a7 as"
        "a8 a8 a8 a8 as"
        "fo fo fo fo fo"
    ; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: repeat(8, 1fr);
    grid-gap:  2px;
}
.header {
    grid-area: he;
    background-color: lightpink;
}

.nav {
    grid-area: na;
    background: salmon; 

}

.article1{
    grid-area: a1;
    background:green;

}
.article2{
    grid-area: a2;
    background:lightseagreen;

}.article3{
    grid-area: a3;
    background:pink;

}.article4{
    grid-area: a4;
    background:lightseagreen;

}.article5{
    grid-area: a5;
    background:lightgray;

}.article6{
    grid-area: a6;
    background:purple;

}.article7{
    grid-area: a7;
    background:lightskyblue;

}.article8{
    grid-area: a8;
    background:red;
}
.innerGridWrapper {
    grid-area: se;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
   }

.aside{
    grid-area: as;
    background: orange;
}
.footer {
    grid-area: fo;
    background: purple;
}
h5 { 
 font-family: sans-serif;
 font-size: 15px;
  margin: 3px;
}
.innerDiv {
    background: green;
}